@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
  .list-view.editing .pracownicy-grid {
      display: none;
    }
}

/* Import czcionki Inter z pełną obsługą polskich znaków */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap&subset=latin-ext');

:root {
    --lumo-font-family: 'Inter', sans-serif;
}

html, body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}
